[submodule "SandboxEngine/dependencies/glfw"]
	path = SandboxEngine/dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "SandboxEngine/dependencies/glad"]
	path = SandboxEngine/dependencies/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "SandboxEngine/dependencies/stb/stb"]
	path = SandboxEngine/dependencies/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "SandboxEngine/dependencies/glm"]
	path = SandboxEngine/dependencies/glm
	url = https://github.com/g-truc/glm.git
