.scripts/
vs2022
.vs2022

.vs/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CMakeCache.txt
CMakeFiles/
INSTALL.vcxproj
INSTALL.vcxproj.filters
SandboxEngine.sln
SandboxEngine/CMakeFiles/
SandboxEngine/Debug/
SandboxEngine/INSTALL.vcxproj
SandboxEngine/INSTALL.vcxproj.filters
SandboxEngine/SandboxEngine.dir/
SandboxEngine/SandboxEngine.vcxproj
SandboxEngine/SandboxEngine.vcxproj.filters
SandboxEngine/SandboxEngine.vcxproj.user
SandboxEngine/cmake_install.cmake
TestProject/CMakeFiles/
TestProject/INSTALL.vcxproj
TestProject/INSTALL.vcxproj.filters
TestProject/TestProject.dir/
TestProject/TestProject.vcxproj
TestProject/TestProject.vcxproj.filters
TestProject/TestProject.vcxproj.user
TestProject/cmake_install.cmake
TestProject/imgui.ini
bin/
cmake_install.cmake

!Build/.gitkeep
Build/*
