[submodule "SandboxEngine/dependencies/glfw"]
	path = SandboxEngine/dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "SandboxEngine/dependencies/glad"]
	path = SandboxEngine/dependencies/glad
	url = https://github.com/Dav1dde/glad.git
